.section-container {
	margin: 16px;
}

.item__no-stock {
	color: $red-300;
	margin: 10px 0;
}

@media screen and (min-width: $break-tablet) {
	.section-container {
		margin: 0 32px;
	}
}

@media screen and (min-width: $break-desktop) {
	.section-container {
		margin: 0 72px;
	}
}

