/* BreakPoints */
$break-mobile: 320px;
$break-tablet: 600px;
$break-desktop: 1024px;


$gray-150: #DFDADA;
$gray-160: #EDEDED;
$gray-200: #8d8b8bde;
$gray-210: #8d8b8bf3;
$gray-220: #777;
$gray-250: #414040;

$white: #FFFFFF;

$black: black;
