@import '../../../../assets/scss';

.card-item {
	margin: 10px;
}

@media screen and (min-width: $break-tablet) {
	.card-item {
        display: flex;
        &__content {
            width: 100%;
            justify-content: space-between;
            @include organizedMultipleColumns(60% 30%);
        }
	}
}
